*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
	color: #909090;
}
body,
figure {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px;
	color: #4a4a4a
}
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}
h1 {
    font-size: 36px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 18px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 12px
}
p {
    margin: 0 0 10px
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: #999;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
/*  Preloader  */

#mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    z-index: 10000;
    height: 100%;
}
#loader {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
#back-to-top {
    position: fixed;
    opacity: 0.8;
    filter: alpha(opacity=40);
    display: none;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    text-align: center;
    background: #ffb400;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    text-align: center;
}
#back-to-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
#back-to-top a {
    color: #fff;
}
#back-to-top a i {
    width: 40px;
    height: 40px;
}
/*  Default Bootstrap changes  */

.row-no-padding > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 767px) {
    .row > [class*="col-"] {
        margin-bottom: 20px;
    }
    .row-no-padding > [class*="col-"] {
        padding-right: 15px;
        padding-left: 15px;
    }
}
/*  Navigation Style  */

.secondary-header {
    background-color: #1a212d;
	padding: 10px 0 0;
	color: #7c7e83;
}
.secondary-header a {
    color: #7c7e83;
}
.secondary-header a:hover {
    color: #e1a006;
}
.navbar-brand {
    padding: 13px 15px;
}
nav.navbar .navbar-brand img.logo {
    width: 75px;
    margin-top: -12px;
    padding-bottom: 2px;
    padding-top: 2px;
}

nav.navbar.hugenav ul.nav > li > a {
    color: #fff;
	padding: 15px 15px;
    font-size: 14px;
    line-height: 27px;
    font-weight: 500;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.hugeNav-account > ul > li > a {
    padding: 18px 15px;
}
nav.navbar.hugenav ul.nav > li > a:hover {
    color: #ffb400 !important;
}
.skinSeven .navbar-nav > li > a::before {
    background: #ffb400;
}
nav.hugenav a,
nav.hugenav a:visited {
    text-decoration: none;
    color: #fff !important;
}
nav.hugenav a:hover {
    color: #e1a006 !important;
}
ul.cart-list > li.total > .btn,
.hugeNav-account > ul > li > a span.badge {
    background-color: #e1a006;
}
.hugeNav-sidebarMenuContent {
    background-color: #232323;
}
nav.navbar.hugenav.no-background.navbar-fixed-top {
    position: fixed;
    z-index: 9999;
    /*background-color: rgba(0, 0, 0, 0.55);*/
    background-color: black;
}
nav.navbar.hugenav li.dropdown ul.dropdown-menu.search-dropdown {
    background-color: rgba(0, 0, 0, 0.55);
    border: 0;
}
nav.navbar.hugenav li.dropdown ul.dropdown-menu.search-dropdown .form-control {
    color: #fff;
	width: 110%;
    background-color: transparent;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-search {
    position: absolute;
    top: 23px;
    right: 25px;
    background-color: transparent;
    color: #fff;
    border: 0;
}
.btn-search:hover {
    background-color: transparent;
    color: #e1a006;
    border: 0;
}
@media (max-width: 1023px) {
    nav.navbar.hugenav.no-background {
        background-color: transparent;
        border: none;
        position: absolute;
        z-index: 9999;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
    }
    .hugeNav-account > ul > li > a {
        padding: 15px 15px;
    }
}
@media (max-width: 992px) {
	nav.navbar.hugenav ul.nav > li > a {
		padding: 5px 15px;
	}
    nav.navbar.hugenav.no-background {
        background-color: transparent;
    }
    nav.navbar.hugenav .navbar-toggle {
        background-color: transparent;
        color: #fff;
    }
    nav.navbar.hugenav .navbar-collapse.collapse.in {
        background-color: rgba(0, 0, 0, 0.6);
    }
    nav.navbar.hugenav ul.nav li.dropdown ul.dropdown-menu {
        background-color: transparent;
    }
	nav.hugenav .hugeNav-megamenuContent .title {
		color: #fff;
		margin-bottom: 20px;
	}
	.hugeNav-account > ul > li.dropdown ul.dropdown-menu {
		margin-left: 20px;
	}
	.btn-search {
		right: 5px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	nav.navbar.hugenav .navbar-collapse.collapse.in {
		background-color: rgba(0, 0, 0, 0.6);
		margin: 0 -15px;
	}
	nav.navbar.hugenav ul.nav li.dropdown ul.dropdown-menu {
		background-color: rgba(0, 0, 0, 0.6);
	}
	.hugeNav-megamenuContent>li {
		padding: 10px 30px;
	}
	.btn-search {
		right: 20px;
	}
}
/*  Section Style  */

.sec-padding {
    padding: 75px 0;
}
.sec-dark {
    background: #f9f9f9;
}
.sec-title {
    margin-bottom: 60px;
}
.sec-title h2 {
	font-size: 24px;
    text-transform: uppercase;
    color: #3f3f3f;
    font-weight: 700;
    margin-top: -25px;
}
.sec-title h2:after {
    content: '';
    display: block;
    width: 90px;
    border-top: 3px solid #e5e5e5;
    margin: 15px auto;
}
.sec-title h2:before {
    content: '';
    display: block;
	position: relative;
	top: 54px;
    width: 45px;
    border-bottom: 3px solid #ffb400;
    margin: 0 auto;
}
.sec-title p {
    width: 40%;
    display: block;
    margin: 0 auto;
	font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #949494;
}
.icon-arrow {
    list-style: none;
    padding: 0;
}
.icon-arrow li:before {
    font-family: FontAwesome;
    content: "\f00c";
    padding: 0 3px;
    display: inline-block;
    background: #ffb400;
    margin-right: 10px;
    color: #fff;
	border-radius: 5px;
}
@media (max-width: 991px) {
    .sec-title p {
        width: 65%;
    }
}
@media (max-width: 767px) {
    .sec-title p {
        width: 95%;
    }
}
/*  Hero  */

#hero {
    width: 100%;
    height: 95%;
    display: block;
    overflow: hidden;
    padding: 0;
    background: #171C26;
}
#hero.full-height {
    height: 100%;
}
#hero .carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
#hero .carousel-fade .carousel-inner .active {
    opacity: 1;
}
#hero .carousel-fade .carousel-inner .active.left,
#hero .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
#hero .carousel-fade .carousel-inner .next.left,
#hero .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
#hero .carousel-fade .carousel-control {
    z-index: 2;
}
#hero .carousel,
#hero .carousel-inner,
#hero .carousel-inner .item {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    right: 0;
    left: 0;
    padding-bottom: 0;
    top: 0;
    bottom: 0;
    display: block;
    text-align: left;
    color: #fff;
    text-shadow: none;
}
#hero .caption {
    margin-top: 45%;
}
#hero .caption h1 {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}
#hero .caption h1 span {
    color: #ff5f83;
}
.caption-image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.caption-image img {
    display: block;
    float: right;
    margin-top: 40%;
    width: 80%;
}
.btn-download {
    border-radius: 0;
    padding: 10px 15px 2px;
    background: transparent;
    border: none;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    border: 1px solid #fff;
    text-align: left;
    color: #fff;
    margin-top: 20px;
    margin-right: 10px;
}
.btn-download:hover {
    background: #ffb400;
    color: #fff;
    border: 1px solid #ffb400;
}
.btn-download i {
    padding-right: 5px;
}
.btn-download span {
    vertical-align: middle;
    display: inline-block;
    margin-top: -15px;
    font-size: 10px !important;
}
.btn-download strong {
    display: block;
    text-transform: uppercase;
}
@media (max-width: 1024px) {
    .caption-image img {
        width: 70%;
    }
}
@media (max-width: 1023px) {    
    .caption-image img {
		width: 100%;
		margin-right: 30px;
		margin-top: 0%;
	}
}
@media (max-width: 991px) {
    #hero .caption {
        margin-top: 100%;
    }
    .caption-image {
        margin-top: 75%;
        width: 210px;
    }
}
@media (max-width: 768px) {
    #hero .caption {
        margin-top: 85%;
    }
}
@media (max-width: 767px) {
    #hero .caption h1 {
        font-size: 17px;
    }
    .caption-image {
        display: none;
    }
}
@media only screen and (min-width: 500px) and (max-width: 599px) {
    #hero .caption {
        margin-top: 7%;
    }
    #hero .caption h1 {
        margin-bottom: 0;
    }
    .btn-download {
        margin-top: 0;
    }
}
@media only screen and (min-width: 600px) and (max-width: 699px) {
    #hero .caption {
        margin-top: 10%;
    }
}
@media only screen and (min-width: 700px) and (max-width: 767px) {
    #hero .caption {
        margin-top: 15%;
    }
}
@media (max-width: 499px) {
    #hero .caption {
        margin-top: 30%;
    }
}
.video-bg {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}
.video-sec,
.video-bg iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
    .video-sec {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-sec {
        width: 300%;
        left: -100%;
    }
}
/* About Section */

#about {
    padding-bottom: 0;
}
.block-title2 h6 {
    font-size: 14px;
    margin: 0;
    color: #909090;
}
.block-title2 h3 {
    max-width: 80%;
	font-weight: 700;
    font-size: 20px;
    color: #333;
	margin-top: 5px;
}
#about p {
    line-height: 23px;
    color: #7c7c7c;
    font-size: 13px;
}
.about-details ul.icon-arrow {
    margin-top: 20px;
}
.about-details ul.icon-arrow li {
    width: 33.33%;
    float: left;
    margin-bottom: 10px;
    color: #666;
    font-size: 14px;
}
@media (max-width: 1023px) { 
    #about {
        padding-bottom: 30px;
    }
    .about-details {
        padding-top: 20px;
    }
}
@media (max-width: 499px) {
    .about-details ul.icon-arrow li {
        width: 100%;
    }
}
/*  Feature Section  */

.feature-icon {
    height: 108px;
    width: 108px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    line-height: 108px;
    border: 1px solid #ffb400;
    transform: rotate(45deg);
    position: relative;
    transition: all 0.3s ease;
}
.feature-icon .fa {
    display: inline-block;
    transform: rotate(-45deg);
    font-size: 35px;
    color: #ffb400;
}
.feature-item:hover .feature-icon .fa {
    opacity: 0.9;
}
.feature-icon:before {
    position: absolute;
    content: "";
    height: 20%;
    border-left: 2px dashed #ffb400;
    transform: rotate(-43deg);
    left: 110%;
    top: 106px;
    transition: all 0.3s ease;
}
.feature-details {
    margin-top: 55px;
    padding: 35px;
    transition: all 0.3s ease;
    background-color: #fff;
    box-shadow: 0 1px 1px 1px rgba(236, 236, 236, 1);
}
.feature-details h2 {
    color: #555;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}
.feature-details p {
    font-weight: 300;
    margin-top: 10px;
}
.feature-item:hover .feature-details,
.feature-item:hover .feature-icon,
.feature-item:hover .feature-icon:before {
    border-color: rgba(236, 236, 236, 1);
}
.feature-item:hover .feature-details {
    box-shadow: 0 5px 5px 5px rgba(236, 236, 236, 1);
}
@media (max-width: 767px) {
    #feature {
        padding-bottom: 30px;
    }
    .feature-item {
        margin-bottom: 30px;
    }
    .feature-details {
        padding: 15px;
    }
}
/*  Screen Showcase Section  */

.slick-dots {
    display: block !important;
    height: 12px;
    margin-top: 30px;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    height: 15px;
    margin: 0 5px;
    vertical-align: top;
    width: 12px;
}
.slick-dots li button:focus {
    outline: none;
    border: 1px solid #ffb400;
}
.slick-dots li.slick-active {
    padding: 0;
}
.slick-dots li button {
    background-color: transparent;
    border: 1px solid #949494;
    border-radius: 50px;
    height: 100%;
    text-indent: -99999px;
    width: 100%;
}
.screenshot-items .slick-list {
    padding-bottom: 60px !important;
    padding-top: 60px !important;
}
.screenshot-item {
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.screenshot-item.slick-active {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 2;
}
.screenshot-item.slick-center {
    position: relative;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 3;
}
.screenshot-item img {
    width: 100%;
}
/*  Video Section  */

#video {
    width: 100%;
    height: auto;
    background: url("img/sec-bg.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0;
	color: #fff;
}
#video .overlay {
    padding: 75px 0;
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}
#video-item i {
    color: #ffb400;
}
#video-item i:hover {
    opacity: 0.8;
}
#video h5 {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2em;
}
#video p {
    width: 65%;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
}
@media (max-width: 767px) {
    #video p {
        width: 100%;
    }
}

/* subscribe section */
#subscribe{
    height: 50px;
}


/*  Team Section  */

.team-item {
    overflow: hidden;
    position: relative;
}
.team-item::before {
    background: rgba(0, 0, 0, 0.9);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.team-item:hover::before {
    opacity: 0.4;
}
.team-details {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 45%;
    transition: all 0.3s ease 0s;
}
.team-item:hover .team-details {
    opacity: 1;
}
.team-details h4 {
    color: #f7f7f7;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
}
.team-details p {
    color: #f7f7f7;
    font-size: 14px;
	font-weight: 600;
    line-height: 16px;
}
.team-social {
    background: rgba(252, 177, 0, .8);
    bottom: 0;
    left: 0;
    padding: 13px 0;
    position: absolute;
    right: 0;
    text-align: center;
    -webkit-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.team-item:hover .team-social {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.team-social li {
    display: inline-block;
    border-right: 1px solid #ffb400;
    border-radius: 3%;
}
.team-social li:last-child {
    border-right: 0px solid #ffb400;
}
.team-social li a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 8px 18px;
}
.team-social li a:hover {
    color: #ccc;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .team-item {
		margin-bottom: 30px;
	}
}
/*  Counter Section  */

#counter {    
    background-color: #ffb400;
    color: #fff;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 100px 0;
}
#counter .count {
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
}
.count h4 {
    color: #fff;
	font-size: 16px;
	margin-top: 0;
}
#counter .count .fa {
    font-size: 40px;
    display: block;
    color: #fff;
}
#counter .number {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}
/*  Pricing Section  */

#pricing {
    background: #f7f7f7;
}
.pricing-items {
    padding-top: 50px;
}
.pricing-item {
    background: #fff;
    position: relative;
    box-shadow: 0 0 9px 0 rgba(130, 121, 121, .2);
    padding: 50px 0px;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}
.pricing-item.active {
    top: -50px;
}
.price-list li {
    list-style: none;
    margin-bottom: 15px;
}

.price-list .price {
    font-size: 30px;
    font-weight: bold;
}
.pricing-item .ribbon {
    margin: -50px 0 20px;
    display: block;
    background-color: #ffb400;
    padding: 15px 0 2px;
    opacity: 0.8;
    border-top-right-radius: 2em;
}
.pricing-item:hover .ribbon {
    background-color: #ffb400;
	opacity: 1;
}
.pricing-item.active .ribbon {
    background-color: #ffb400;
	opacity: 1;
}
.pricing-item .ribbon p {
    color: #fff;
    font-size: 22px;
    margin: 0 0 10px;
    font-weight: 600;
}
.pricing-item.active .price-list li, .pricing-item:hover .price-list li {
    color: #848181;;
}
ul.price-list {
    margin-bottom: 30px;
    padding: 0;
}
.btn-price {
    display: inline-block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 40px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
    border: 1px solid #848181;
    background-color: transparent;
    color: #848181;
}
.pricing-item:hover .btn-price,
.active .btn-price {
    border: 1px solid #ffb400;
    background-color: #ffb400;
    color: #fff;
}
.btn-price:focus {
    background-color: transparent;
    text-decoration: none;
}
@media only screen and (max-width: 767px) {
    .pricing-items {
        padding-top: 0;
    }
    .pricing-item.active {
        top: 20px;
        margin-bottom: 40px;
    }
}
/*  Testimonial Section  */

#testimonial {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), rgba(0, 0, 0, 0.55) url(img/sec-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    color: #fff;
    display: block;
    overflow: hidden;
    text-align: center;
    padding-bottom: 4%;
    padding-top: 4%;
}
#testimonial .sec-head {
    color: #fff;
}
#testimonial .tm-control {
    position: absolute;
    top: 50%;
    width: 100%;
}
.carousel-control {
	width: 0%;
}
#testimonial .item {
    text-align: center;
}
#testimonial .item .tm-img {
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
}
#testimonial .item .tm-img img {
    display: block;
    max-width: 90%;
    height: auto;
    border: 2px solid #ffb400;
    border-radius: 10px;
}
.tm-comment p {
    font-size: 20px;
    font-weight: 300;
}
.tm-comment h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
	color: #ccc;
	    font-size: 14px;
}
.tm-comment h3:after {
    content: "";
    width: 30px;
    display: block;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
}
#testimonial .item .tm-rating i {
    font-size: 15px;
    padding-right: 5px;
	color: #e1a006;
}
/*  FAQ Section  */

#faq-sec {
    padding-bottom: 30px;
}
.hugeNav-accordionTwo {
    margin-top: 20px;
}
#faq-sec .panel {
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
#faq-sec .panel-default {
    border-color: transparent;
}
#faq-sec .panel-default>.panel-heading {
    border: 0;
    background-color: #f6f6f6;
    border-radius: 0;
    color: #595757;
	text-transform: uppercase;
}
#faq-sec .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
}
#faq-sec .panel-body {
    color: #4c4c4c;
    line-height: 24px;
    font-size: 13px;
}
/*  Contact  Menu*/

#map {
    height: 355px;
}
#contact-form {
    min-height: 253px;
}
.hugeNav-megamenuContent .panel-group,
.hugeNav-megamenuContent .form-group {
    padding: 7px 0 !important;
}
.btn-contact {
    background-color: #ffb400;
    color: #fff;
    text-transform: uppercase;
}
.btn-contact:hover {
    background-color: #e1a006;
    color: #fff;
}
/*  Contact  Section*/
#contact {
    margin-bottom: -80px;
	padding-bottom: 100px;
}
#contact #map {
    width: 90%;
    height: 435px;
    margin-top: 7px;
    left: 15px;
    margin-left: 0;
}
.form-area {
    padding: 20px;
    background: #fff;
}
#contact .contact-form {
	margin-top: 20px;
}
#contact .btn-contact {
    background-color: #ffb400;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 67px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}
@media (max-width: 991px) { 
	#contact #map {
		display: none;
	}
}
/*  Subscribe  */

.sb-container {
    background-color: #ffb400;
    padding: 10px 50px 15px;
    position: relative;
    top: 40px;
}
.suscribe-txt {
    color: #fff;
    padding-top: 14px;
}
.suscribe-txt p {
    font-size: 16px;
    line-height: 17px;
}
.newsletter {
    margin-top: 8px;
}
.newsletter input {
    width: 75%;
    background: none;
    border: 1px solid #fff;
    text-align: center;
    height: 50px;
    color: #fff;
}
.newsletter input::-webkit-input-placeholder {
    color: #fff;
}
.newsletter input::-moz-placeholder {
    color: #fff;
}
.newsletter input:-ms-input-placeholder {
    color: #fff;
}
.newsletter input:-moz-placeholder {
    color: #fff;
}
.newsletter input:focus {
    outline: none;
    border: 1px solid #f9f9f9;
}
.btn-newsletter {
    width: 24%;
    height: 50px;
    margin-top: -5px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.55);
    border: none;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    text-align: left;
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-newsletter:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}
@media (max-width: 767px) {
    .newsletter input {
        width: 100%;
    }
    .btn-newsletter {
        width: 50%;
        display: block;
        margin: 10px auto 0;
    }
}
/*  Footer  */

#footer {
    background: #171C26;
    padding: 55px 0 30px;
}
#footer a {
    text-decoration: none;
    color: #7c7e83;
}
#footer a:hover {
    color: #e1a006;
}
.footer-logo {
    text-align: center;
    display: block;
    font-size: 45px;
    font-weight: bold;
}
.footer-logo img {
    width: 100px;
}
.nav-footer li a:after {
    content: "|";
    margin-left: 5px;
    margin-top: 2px;
}
.nav-footer li:last-child a:after {
    content: "";
    margin-left: 5px;
    margin-top: 2px;
}
/*  Social Icon  */

.social-icons {
    margin-top: 10px;
}
.social-icons i {
    color: #7c7e83;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
}
.social-icons i:hover {
    color: #fff;
    background-color: #e1a006;
    border-radius: 50%;
}
.footer-copyright {
    color: #7c7e83;
    margin-top: 20px;
    font-weight: bold;
}